.simulador_page{
    background-color: var(--cor-marrom);
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 850px;
    display: flex;
    align-items: center;
}

.simulador{
    width: 350px;
    height: 500px;
    background-color: var(--cor-escuro-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
}